.app-container {
  flex: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

a.title {
  display: flex;
  color: black;
  align-items: center;
  text-decoration: none;
}

.logo {
  margin-right: 10px;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
}

.footer-text {
  font-size: small;
  text-align: center;
  flex: 1 1 auto;
}
